body {
    background-image: url(12.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1,h2,h3 {
    color:white;
    font-family: Kazman;
    font-weight: normal;
    line-height: 40px;
}

h1 {
    font-size: 14em;
    text-align: center
}

h2 {
    font-size: 8em;
    text-align: center

}

h3 {
    font-size: 6em;        
    text-align: center

}

 @font-face { font-family: Kazman; src: url('Kazmann Sans.ttf'); } 
